<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shaxy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shaxy">
        <activity
            android:name=".Confirmationpage"
            android:exported="false" />
        <activity
            android:name=".ValidatePayment"
            android:exported="false" />
        <activity
            android:name=".ChoiseCarFin"
            android:exported="false" />
        <activity
            android:name=".ChoiceCarGen"
            android:exported="false" />
        <activity
            android:name=".DestConfir"
            android:exported="false" />
        <activity
            android:name=".MapsSearching"
            android:exported="false" />
        <activity
            android:name=".ConfirmationName"
            android:exported="false" />
        <activity
            android:name=".ConfirmationMail"
            android:exported="false" />
        <activity
            android:name=".EnregistrementMail"
            android:exported="false" />
        <activity
            android:name=".ConfirmationNumber"
            android:exported="false" />
        <activity
            android:name=".EnregistrementNumber"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>